.header {
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
}

.questionContainer {
  display: flex;
  overflow-x: scroll;
 
}

.questionContainer::-webkit-scrollbar {
  height: 5px;
  display: none;
}