article {
  min-height: calc(100vh - 47px);
  padding: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
  * {
    margin: 10px 0;
  }
  table {
    td,
    th,
    tr {
      border: 1px solid black;
    }
  }
  ul {
    list-style-position: inside;
  }
}
